# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Logs and temp files
*.log
*.tmp

# ROS build and log files
build/
devel/
*.bag

# Dataset or large files
datasets/*.csv
datasets/*.zip

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
 
